.promo {
  background: linear-gradient(91.79deg, #1DBCD1 16.94%, hsl(187, 87%, 59%) 83.14%);


  &__content {
    display: flex;
    max-height: 295px;
    height: 295px;
    position: relative;
    overflow: hidden;
    align-items: center;
    // justify-content: space-between;
  }

  &__text-block {
    max-width: 570px;
    flex: 0 0 570px;

    &__title {
      font-weight: 600;
      font-size: 42px;
      line-height: 53px;
      color: #FFFFFF;
      display: block;
      margin-bottom: 20px;
    }

    &__text {
      font-size: 18px;
      line-height: 27px;
      color: #FFFFFF;
    }
  }

  &__img-block {
    max-width: 637px;
    position: relative;
    flex: 0 0 637px;
    display: flex;
    justify-content: center;
    height: 100%;
    margin-right: 45px;

    img {
      margin-top: 40px;
      position: relative;
      top: 20px;
    }
  }

  &__more {
    margin-left: auto;
    border: none;
    outline: none;
    background: #FFFFFF;
    border-radius: 2px;
    display: flex;
    align-items: center;
    padding: 27px 50px;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.02em;
    color: #2B2E34;

    svg {
      margin-right: 30px;
    }
  }
}