@import "base/nullStyle";
@import "base/letColor";

body {
  font-family: Roboto;
  color: $black;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

@import "blocks/header";
@import "blocks/sliders";