.breadcrump {
  padding-top: 45px;

  p {
    font-size: 15px;
    line-height: 19px;
    color: #2B2E34;
    font-weight: 500;

    a {
      color: #858A93;
    }
  }
}

.title {
  font-size: 40px;
  color: #2B2E34;
}

.xxl-none {
  display: none !important;
}

.menu {
  visibility: hidden;
  transform: translateX(-100%);
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: #fff;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
  padding: 13px 20px;
  transition: .5s;
}

body.lock {
  overflow: hidden;
}

.menu {
  position: fixed;
  height: 100vh;
  width: 415px;
  background-color: #fff;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
  padding: 13px 20px;
  transition: .5s;

  &.active {
    visibility: visible;
    transform: translateX(0);
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
  }

  &__header--logo {
    max-width: 186px;
    height: 44px;
    flex: 0 0 186px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  &__exit {
    cursor: pointer;

    i {
      font-size: 18px;
      color: #2B2E34;
    }
  }

  &__top-navs {
    margin-bottom: 43px;

    .asaid__spoilers_title {
      font-size: 16px;
      display: flex;
      justify-content: start;
      align-items: center;

      i {
        font-size: 20px;
        margin-right: 17px;
      }
    }

    .asaid__spoilers_title:after,
    .asaid__spoilers_title:before {
      top: 11px;
    }

    .asaid__spoilers_content {
      margin-bottom: 0;

      a {
        font-size: 14px;
        color: #2B2E34;
        font-weight: 400;
      }
    }

    .asaid__spoilers.active .asaid__spoilers_content {
      margin-bottom: 43px;

    }

    &>li {
      padding-bottom: 23px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.13);

      // font-weight: 500;

      a {
        font-size: 16px;
        color: #2B2E34;
        display: flex;
        align-items: center;
        // font-weight: 500;

        i {
          font-size: 20px;
          margin-right: 17px;
        }
      }
    }

    &>li:not(:last-child) {
      margin-bottom: 23px;
    }

    &>li:first-child {
      padding-bottom: 0;
    }
  }

  &__bottom-navs {
    &>li {
      a {
        font-size: 14px;
        color: #2B2E34;
        display: block;
      }
    }

    &>li:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}