@media (max-width: 1550px) {
   .header {
      &__container {
         max-width: 1410px;
         padding: 0 20px;
         margin: 0 auto;
      }

      &__title {
         font-size: 16px;
      }

      &__subtitle {
         font-size: 15px;
      }

      &__scope {
         padding: 0 40px 0 40px;
      }

      &__tel {
         margin-right: 0px;
      }

      &__nav {
         a {
            font-size: 17px;
         }
      }

   }

   .hero {
      &__wrapper {
         padding-top: 110px;
         padding-bottom: 50px;
      }
   }
}


@media (max-width: 1399.98px) {
   .container {
      max-width: 1210px !important;
   }

   .header {
      &__container {
         max-width: 1210px;
         padding: 0 20px;
         margin: 0 auto;
      }

      &__title {
         font-size: 15px;
         max-width: 224px;
      }

      &__subtitle {
         font-size: 15px;
      }

      &__scope {
         padding: 0 30px 0 30px;

         a {
            font-size: 14px;
         }
      }

      &__tel {
         margin-right: 0px;
         font-size: 15px;

         i {
            font-size: 15px;
            margin-right: 3px;
         }
      }

      &__leng {
         a {
            margin-right: 10px;
            font-size: 15px;
         }
      }

      &__nav {
         a {
            font-size: 15px;
         }
      }
   }

   .hero {
      &__wrapper {
         padding-top: 60px;
         padding-bottom: 50px;
      }

      &__info {

         h1 {
            font-size: 39px;
         }

         p {
            font-size: 20px;
            margin-top: 30px;
         }
      }

      &__bottom {
         &__item {
            p {
               width: 70%;
               font-size: 16px;
            }
         }
      }
   }

   .service {
      padding-top: 60px;

      &__news {
         padding: 20px 0;
      }

      &__news-title {
         font-size: 20px;
         overflow: hidden;

      }

      &__news-subtitle {
         font-size: 16px;
         line-height: 135%;
         margin: 18px 0 25px;
      }

      &__date {
         font-size: 14px;

         i {
            color: #959AB2;
            margin-right: 6px;
            font-size: 14px;
         }

         &_num {
            margin-left: 30px;
            margin-right: 40px;
         }
      }

      &__sidebar-top {

         padding: 20px;
      }

      &__sidebar-bottom {

         padding: 20px;
         padding-right: 0px;
      }

      .sidebar {

         &__title {
            font-size: 20px;
         }

         &__text {
            font-size: 15px;

         }

         &__phone {
            font-size: 18px;
         }

         &__form {
            margin-top: 14px;

            input {
               position: relative;
               top: 2px;
            }

            label {
               font-size: 15px;
               margin-left: 6px;
            }

            li {
               margin-top: 10px;

            }
         }

         &__question {
            font-size: 16px;
         }

         &__button {
            margin-top: 20px;

            button {
               padding: 10px 17px 12px;
               font-size: 14px;
            }
         }
      }
   }

   .activities {
      padding-top: 60px;

      &__text {
         font-size: 16px;
      }

      &__sub-text {
         line-height: 20px;
         font-size: 15px;
      }

      &__block__item li a p {
         font-size: 15px;
      }
   }

   .relation {
      padding: 130px 0 0 0;

      &__text {
         font-size: 16px;
         line-height: 20px;
      }

      &__date {
         font-size: 14px;

         i {
            font-size: 12px;
            margin-right: 8px;
         }
      }
   }

   .map {
      padding-top: 80px;
   }

   .video {
      padding-top: 80px;

      &__block-text {
         padding: 25px 15px 25px 25px;
         position: absolute;
         bottom: -50px;
         right: 21px;
      }

      &__text {
         font-size: 16px;
         line-height: 20px;
      }


   }

   .links {
      padding-top: 140px;
   }

   .footer {
      li a {
         font-size: 16px;
      }

      p {
         font-size: 14px;
      }
   }

   nav {
      a {
         font-size: 18px;
      }
   }

   .title {
      font-size: 30px;
   }

   .more {
      i {
         top: 2.5px;

         &::after {
            top: 2px;
            left: 6px;
         }
      }
   }
}

@media (max-width: 1200px) {
   .container {
      max-width: 1210px !important;
   }

   body.lock {
      overflow: hidden;
   }

   // .header__md-phone {
   //    display: block;

   //    i {
   //       color: #959AB2;
   // 		font-size: 20px;
   //       margin-left: 20px;
   //    }
   // }

   .header__burger {
      display: block;
      position: relative;
      right: 0;
      top: 0;
      width: 23px;
      height: 14px;
      position: relative;
      z-index: 4;
   }

   .header__burger span {
      position: absolute;
      background-color: #000;
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      top: 6px;
      transition: all 0.3s ease 0s;
   }

   .header__burger:before,
   .header__burger:after {
      content: '';
      background-color: #000;
      position: absolute;
      width: 75%;
      height: 2px;
      left: 0;
      transition: all 0.3s ease 0s;
   }

   .header__burger:before {
      top: 0;
   }

   .header__burger:after {
      bottom: 0;
   }

   .header__burger.active span {
      transform: scale(0);
      background-color: #fff;
   }

   .header__burger.active:before {
      transform: rotate(45deg);
      top: 4px;
      background-color: #fff;
   }

   .header__burger.active:after {
      transform: rotate(-45deg);
      // width: 100%;
      bottom: 8.5px;
      background-color: #fff;
   }

   .header {
      padding: 20px 0;

      &__title {
         font-size: 15px;
         max-width: 224px;
      }

      &__subtitle {
         font-size: 15px;
      }

      &__scope {
         padding: 0 20px;
         justify-content: flex-end;

         a {
            font-size: 14px;
            margin-right: 15px;
         }
      }

      &__tel {
         margin-right: 0px;
         font-size: 15px;

         i {
            font-size: 15px;
            margin-right: 3px;
         }
      }

      &__leng {
         margin-right: 40px;

         a {
            margin-right: 10px;
            font-size: 15px;
         }
      }

      &__bottom {
         margin: 0;
         position: fixed;
         top: -120%;
         left: 0;
         width: 100%;
         height: 100%;
         overflow: auto;
         transition: all 0.3s ease 0s;
         background-color: rgba(0, 0, 0, 0.9);
         z-index: 3;
         flex-direction: column;
         padding: 140px 10px 20px 10px;

         &.active {
            top: 0;
         }
      }

      &__nav {
         flex-direction: column;

         li {
            margin-bottom: 30px;
         }

         a {
            color: #fff;
            font-size: 18px;
         }
      }
   }

   .hero {
      &__wrapper {
         padding-top: 90px;
         padding-bottom: 50px;
         height: calc(100vh - 131px);
      }

      &__info {

         h1 {
            font-size: 32px;
         }

         p {
            font-size: 16px;
            margin-top: 20px;
         }
      }

      &__bottom {
         &__item {
            p {
               width: 70%;
               font-size: 16px;
            }
         }
      }
   }

   .service {
      padding-top: 40px;

      .news-wrapper {
         margin-bottom: 15px;
      }

      &__news {
         padding: 20px 0;
      }

      &__news-title {
         font-size: 15px;
         overflow: hidden;

      }

      &__news-subtitle {
         font-size: 13px;
         line-height: 135%;
         margin: 15px 0;
      }

      &__img-box1 {
         height: 241px;
      }

      &__img-box2 {
         height: 113px;
      }

      &__news_title {
         font-size: 15px;
      }

      &__date {
         font-size: 12px;

         i {
            color: #959AB2;
            margin-right: 6px;
            font-size: 14px;
         }

         &_num {
            margin-left: 30px;
            margin-right: 40px;
         }
      }

      &__sidebar-top {
         margin: 30px 0 0 0;
         // padding: 20px;
      }

      &__sidebar-bottom {

         padding: 20px;
         padding-right: 0px;
      }

      .col-lg-none {
         display: none;
      }

      .sidebar {

         &__title {
            font-size: 18px;
         }

         &__text {
            font-size: 15px;

         }

         &__phone {
            font-size: 17px;
            margin-top: 15px;
         }

         &__form {
            margin-top: 10px;

            input {
               position: relative;
               top: 2px;
            }

            label {
               font-size: 15px;
               margin-left: 6px;
            }

            li {
               margin-top: 10px;

            }
         }

         &__question {
            font-size: 16px;
         }

         &__button {
            margin-top: 10px;

            button {
               padding: 10px 17px 12px;
               font-size: 14px;
            }
         }
      }
   }

   .activities {
      padding-top: 60px;

      &__block {
         flex: 0 0 800px;
         max-width: 800px;
         padding: 30px;
         left: 0;
         bottom: -75px;
      }

      &__text {
         font-size: 15px;
      }

      &__sub-text {
         line-height: 20px;
         font-size: 15px;
      }

      &__block__item li a p {
         font-size: 15px;
         width: 100%;
      }

      .icon-flag {
         font-size: 35px;
      }
   }

   .relation {
      padding: 130px 0 0 0;

      &__text {
         font-size: 14px;
         line-height: 18px;
      }

      &__date {
         font-size: 13px;

         i {
            font-size: 10px;
            margin-right: 8px;
         }
      }
   }

   .map {
      padding-top: 80px;

      &__img-box {
         margin-top: 0px;

         // img {
         //    display: block;
         //    margin: 0 auto;
         // }
      }

      &__block {
         margin-top: 60px;
         margin-left: 0px;
         padding: 20px 20px 40px 20px;
      }

      &__title {
         margin-bottom: 25px;
      }

      &__info {
         padding: 25px;

         &__title {
            font-size: 17px;
         }

         &__num {
            font-size: 22px;
         }

         &__text {
            font-size: 16px;
            margin-top: 6px;
         }
      }

      &__content {
         &>div:nth-child(1) {
            &::after {
               height: 70px;
            }

            &::before {
               width: 185px;
               height: 1px;
               left: 0px;
               bottom: 0px;
            }
         }

         &>div:nth-child(2) {
            padding-top: 0;
            padding-right: 0;

            &::after {
               width: 185px;
               height: 1px;
               left: 25px;
               bottom: 0px;
            }
         }

         &>div:nth-child(3) {

            padding-left: 0;
            padding-bottom: 0;

            &::after {
               top: 25px;
               height: 70px;
            }
         }
      }
   }

   .video {
      padding-top: 0px;

      &__block-text {
         padding: 15px;
         // position: absolute;
         bottom: -35px;
         right: 12.5px;
      }

      &__text {
         font-size: 14px;
         line-height: 16px;
      }

      &__img-box {
         width: calc(100% - 20px);
         position: relative;
         display: block;

         img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
         }

         i {
            color: #fff;
            font-size: 45px;
            position: absolute;
            top: 51%;
            left: 41%;
            transform: translateX(-50%);
            transform: translateY(-50%);
         }
      }


   }

   .links {
      padding-top: 100px;
   }

   .footer {
      li a {
         font-size: 15px;
      }

      p {
         font-size: 13px;
      }

      &__content {}

      li {
         margin-bottom: 15px;

         &:last-child {
            margin: 0;
         }
      }


      &__col {
         p {
            font-size: 13px;
            line-height: 23px;
            color: #9FAAE0;
         }
      }

      &__contact {
         max-width: 273px;

         &__title {
            font-size: 18px;
         }
      }

      &__links {

         .icon-structure {
            font-size: 18px;
            font-weight: 700;
            margin: 0 10px 0 0;

         }

         &__social {
            i {
               margin-right: 20px;
               font-size: 18px;
               color: #fff;

               a {
                  color: #fff;
                  display: inline-block;
                  // margin-right: 20px;

               }
            }
         }
      }

      &__midlle {
         padding-top: 90px;

         &__title {
            max-width: 236px;
         }

         &__error {
            max-width: 298px;
         }
      }

      &__bottom {
         display: flex;
         padding-top: 35px;
         justify-content: space-between;

         p {
            font-size: 13px;
            line-height: 23px;
            color: #9FAAE0;
         }

         &__rule {
            max-width: 237px;
         }

         &__site {
            max-width: 300px;
         }
      }
   }

   nav {
      padding-bottom: 20px;
      margin: 20px 0 30px 0;

      a {
         font-size: 18px;
         margin-top: 10px;
      }

      .nav {
         flex-direction: column;
      }
   }

   .title {
      font-size: 25px;
   }

   .more {
      i {
         top: 2.5px;

         &::after {
            top: 2px;
            left: 6px;
         }
      }
   }

   .col-lg-none {
      display: none;
   }

}

@media (max-width: 991.98px) {
   .col-md-none {
      display: none;
   }

   .header {
      padding: 20px 0;

      &__img {
         margin-right: 15px;
         height: 70px;
         width: 70px;
         flex: 0 0 70px;
      }

      &__title {
         font-size: 14px;
         max-width: 208px;
         margin: 2px 0 0 0;
      }

      &__subtitle {
         font-size: 14px;
      }
   }

   .hero {
      &__wrapper {
         padding-top: 90px;
         padding-bottom: 50px;
         height: calc(100vh - 110px);
      }

      &__info {
         width: 57%;

         h1 {
            font-size: 28px;
         }

         p {
            font-size: 16px;
            margin-top: 20px;
            line-height: 21px;
         }
      }

      &__bottom {
         &__item {
            p {
               width: 70%;
               font-size: 15px;
            }
         }
      }
   }

   .service {
      padding-top: 40px;

      .news-wrapper {
         margin-bottom: 15px;
      }

      &__news {
         padding: 10px 0;
      }

      &__news-title {
         font-size: 15px;
         margin-top: 15px;
         overflow: hidden;

      }

      &__news-subtitle {
         font-size: 13px;
         line-height: 135%;
         margin: 15px 0;
      }

      &__img-box1 {
         height: 191px;
      }

      &__img-box2 {
         height: 113px;
      }

      &__news_title {
         font-size: 14px;
      }

      &__date {
         font-size: 12px;

         i {
            color: #959AB2;
            margin-right: 6px;
            font-size: 14px;
         }

         &_num {
            margin-left: 30px;
            margin-right: 0px;
         }
      }

      &__sidebar-top {
         margin: 30px 0 0 0;
         // padding: 20px;
      }

      &__sidebar-bottom {

         padding: 20px;
         padding-right: 0px;
      }

      .col-lg-none {
         display: none;
      }

      .sidebar {

         &__title {
            font-size: 18px;
         }

         &__text {
            font-size: 15px;

         }

         &__phone {
            font-size: 17px;
            margin-top: 15px;
         }

         &__form {
            margin-top: 10px;

            input {
               position: relative;
               top: 2px;
            }

            label {
               font-size: 15px;
               margin-left: 6px;
            }

            li {
               margin-top: 10px;

            }
         }

         &__question {
            font-size: 16px;
         }

         &__button {
            margin-top: 10px;

            button {
               padding: 10px 17px 12px;
               font-size: 14px;
            }
         }
      }
   }

   .activities {
      padding-top: 60px;

      &__block {
         flex: 0 0 600px;
         max-width: 600px;
         padding: 20px;
         left: 0;
         bottom: -55px;
      }

      &__text {
         font-size: 14px;
         line-height: 20px;
      }

      &__sub-text {
         line-height: 20px;
         font-size: 15px;
      }

      &__block__item li a p {
         font-size: 13px;
         width: 70%;
      }

      &__block__item li a i {
         font-size: 35px;
      }

      // &__block__item li::after {
      //    height: 65px;
      //    position: absolute;
      //    width: 1px;
      // }

      .icon-flag {
         font-size: 35px;
      }
   }

   .relation {
      padding: 110px 0 0 0;

      &__text {
         font-size: 14px;
         line-height: 18px;
      }

      &__img-box {
         height: 97px;
         flex: 0 0 135px;
         max-width: 135px;
         margin-right: 15px;
      }

      &__date {
         font-size: 13px;
         line-height: 16px;

         i {
            font-size: 10px;
            margin-right: 8px;
         }
      }
   }

   .map {
      padding-top: 80px;

      &__img-box {
         margin-top: 50px;
         height: 300px;

         img {
            display: block;
            margin: 0 auto;
         }
      }

      &__block {
         margin-top: 60px;
         margin-left: 0px;
         padding: 20px 20px 40px 20px;
      }

      &__title {
         margin-bottom: 25px;
         font-size: 20px;
      }

      &__info {
         padding: 25px;

         &__title {
            font-size: 17px;
         }

         &__num {
            font-size: 22px;
         }

         &__text {
            font-size: 18px;
            margin-top: 6px;
         }
      }

      &__content {
         &>div:nth-child(1) {
            &::after {
               height: 70px;
            }

            &::before {
               width: 185px;
               height: 1px;
               left: 0px;
               bottom: 0px;
            }
         }

         &>div:nth-child(2) {
            padding-top: 0;
            padding-right: 0;

            &::after {
               width: 185px;
               height: 1px;
               left: 25px;
               bottom: 0px;
            }
         }

         &>div:nth-child(3) {

            padding-left: 0;
            padding-bottom: 0;

            &::after {
               top: 25px;
               height: 70px;
            }
         }
      }
   }

   .video {
      padding-top: 50px;

      &__block-text {
         padding: 15px;
         position: relative;
         bottom: 25px;
         right: 0px;
         margin: 0;
         width: 100%;
      }

      &__text {
         font-size: 14px;
         line-height: 16px;
      }

      &__img-box {
         width: 100%;
         position: relative;
         display: block;

         img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
         }

         i {
            color: #fff;
            font-size: 45px;
            position: absolute;
            top: 51%;
            left: 41%;
            transform: translateX(-50%);
            transform: translateY(-50%);
         }
      }


   }

   .links {
      padding-top: 50px;

      &__text {
         font-size: 16px;
      }
   }

   .footer {
      min-height: auto;
      margin-top: 50px;
      padding: 30px 0;


      li a {
         font-size: 15px;
      }

      p {
         font-size: 13px;
      }

      &__content {}

      li {
         margin-bottom: 15px;

         &:last-child {
            margin: 0;
         }
      }


      &__col {
         flex-direction: column;
         align-items: center;
         text-align: center;

         p {
            font-size: 13px;
            line-height: 23px;
            color: #9FAAE0;
         }
      }

      &__contact {
         max-width: 100%;

         &__title {
            font-size: 18px;
         }
      }

      &__links {
         margin-top: 30px;

         .icon-structure {
            font-size: 18px;
            font-weight: 700;
            margin: 0 10px 0 0;

         }

         &__social {
            i {
               margin-right: 20px;
               font-size: 18px;
               color: #fff;

               a {
                  color: #fff;
                  display: inline-block;
                  // margin-right: 20px;

               }
            }
         }
      }

      &__midlle {
         padding-top: 30px;
         text-align: center;
         flex-direction: column;
         align-items: center;

         &__title {
            max-width: 100%;

         }

         &__error {
            max-width: 100%;

         }
      }

      &__bottom {
         display: flex;
         padding-top: 20px;
         flex-direction: column;
         align-items: center;
         text-align: center;
         // justify-content: space-between;

         p {
            font-size: 13px;
            line-height: 23px;
            color: #9FAAE0;
         }

         &__rule {
            max-width: 100%;

         }

         &__site {
            max-width: 100%;

         }

         &__ad {
            margin-top: 20px;
            justify-content: center;
         }
      }
   }

   nav {
      padding-bottom: 20px;
      margin: 15px 0 25px 0;

      a {
         font-size: 16px;
         margin-top: 10px;
      }

      .nav {
         flex-direction: column;
      }
   }

   .title {
      font-size: 25px;
   }

   .more {
      i {
         top: 2.5px;

         &::after {
            top: 0.5px;
            left: 4px;
         }
      }
   }

   .col-md-none {
      display: none;
   }
}

@media (max-width: 767.98px) {
   .col-sm-block {
      display: block;
   }

   .col-sm-none {
      display: none;
   }

   .hero {
      &__wrapper {
         padding-top: 90px;
         padding-bottom: 50px;
         height: calc(100vh - 110px);
      }

      &__info {
         width: 100%;

         h1 {
            font-size: 28px;
         }

         p {
            font-size: 16px;
            margin-top: 20px;
            line-height: 21px;
         }
      }

      &__bottom {
         flex-wrap: wrap;
         justify-content: space-between;

         &__item {
            flex: unset;
            width: 30%;
            padding-top: 15px;
            margin-top: 15px;

            p {
               width: 100%;
               font-size: 14px;
               line-height: 18px;

            }

            &::after {
               width: 10px;
               height: 10px;
            }

            &::before {
               left: 16px;
            }
         }
      }
   }

   .service {

      &__mt {
         margin-top: 30px;
      }

      padding-top: 30px;

   }

   .activities {
      padding-top: 60px;

      &__text {
         font-size: 15px;
      }

      &__img-box {
         margin-top: 20px;
      }

      &__block {
         flex: 0 0 400px;
         max-width: 400px;
      }
   }

   .title {
      font-size: 20px;
   }

   .map {
      padding-top: 50px;

      &__title {
         font-size: 18px;
         margin-bottom: 20px;
      }

      &__info {
         padding: 25px;

         &__title {
            font-size: 16px;
         }

         &__num {
            font-size: 20px;
         }

         &__text {
            font-size: 16px;
            margin-top: 0px;
         }
      }
   }

   .relation {
      padding-top: 95px;
   }

   .video {
      &__block-text {
         padding: 15px;
         position: relative;
         bottom: 25px;
         right: 0px;
         margin: 0;
         width: 100%;
      }
   }

   .links {
      padding-top: 30px;

      &__box {
         margin-top: 30px;
         padding: 20px;
      }
   }

   .footer {
      margin-top: 30px;
   }
}

@media (max-width: 575.98px) {
   .container {
      padding: 0 10px !important;
   }

   .col-none {
      display: none;
   }

   nav {
      padding-bottom: 20px;
      margin: 15px 0 25px 0;

      a {
         font-size: 16px;
         margin-top: 10px;
         margin-right: 0;
         line-height: 23px;
      }

      .nav {
         flex-direction: column;
      }
   }

   .title {
      font-size: 18px;
   }

   .header {
      padding: 15px 0;

      &__container {
         padding: 0 10px;
      }

      &__img {
         margin-right: 10px;
         height: 60px;
         width: 60px;
         flex: 0 0 60px;
      }

      &__title {
         font-size: 12px;
         max-width: 80%;
         margin: 2px 0 0 0;
      }

      &__subtitle {
         font-size: 12px;
      }
   }

   .hero {
      &__wrapper {
         padding-top: 90px;
         padding-bottom: 50px;
         height: calc(100vh - 90px);
      }

      &__info {
         width: 100%;

         h1 {
            font-size: 23px;
         }

         p {
            font-size: 15px;
            margin-top: 20px;
            line-height: 21px;
         }
      }

      &__bottom {
         flex-wrap: wrap;
         justify-content: space-between;

         &__item {
            flex: unset;
            width: 30%;
            padding-top: 10px;
            margin-top: 15px;

            p {
               width: 100%;
               font-size: 13px;
               line-height: 18px;

            }

            &::after {
               width: 10px;
               height: 10px;
            }

            &::before {
               left: 16px;
            }
         }
      }
   }

   .service {
      &__img-box2 {
         height: 96px;
      }

      &__sidebar-top {
         margin: 20px 0 0 0;
         padding: 15px;
      }

      &__sidebar-bottom {
         padding: 15px;
         // padding-right: 0px;
         margin-top: 20px;
      }

      .sidebar__question {
         font-size: 15px;
         margin-top: 5px;
      }
   }

   .activities {
      &__img-box {
         height: 215px;
      }

      &__block {
         flex: 0 0 320px;
         max-width: 320px;
      }
   }

   .relation {
      &__flex {
         margin: 20px 0px 0 0px;
         padding-bottom: 20px;
      }

      &__text {
         font-size: 13px;
      }
   }

   .map {
      padding-top: 40px;

      &__img-box {
         margin-top: 0;
      }

      &__block {
         margin-top: 30px;
      }

      &__info__text {
         font-size: 14px;
         line-height: 16px;
      }
   }

   .video {
      margin-top: 40px;

      nav {
         margin-bottom: 30px;
      }

      &__img-box {
         height: 200px;
         // margin: 0 auto;
      }

      &__block-text {
         width: 260px;
         margin: 0 auto;
      }

      &__text {
         font-size: 13px;
      }
   }
}